.cards{
    height: 400px;
    width: 200px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 8px;
    background-color: #9A1212;
    display: flex;
    flex-direction: row;
    color: #ffff;
   

}
.image{
    height: 150px;
    width: 200px;
    border-bottom: 1px;
    border-radius: 20px;
}
.description{
   font-size: small;

}

.price{
    margin-top: 10px;
    margin-bottom: 15px;
}
.addtocart{
    height: 40px;
    width: 150px;
    background-color: #FF0000;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: none;
}