.cart{
    height: 550px;
    width: 400px;
    background-color: #EAD5D5;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}
.cart-header{
    height: 60px;
    
    background-color: #EAD5D5;
    border-radius: 40px;
    border-bottom: none;
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    padding-left: 30px;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0 ;

}
.cart-content{
    background-color: aqua;
   
}
.cart-footer{
    border-top: 1px solid black;
    border-radius: 40px;
    height: 80px;
    display: flex;
    width: 400px;
    margin-top: auto;
    margin-left: auto;
    border-top-right-radius: 0;
    border-top-left-radius: 0 ;
}
.cart-image{
    height: 30px;
    width: 30px;
    padding-left: 100px;
}
.cart-title{
    margin-left: 20px;
    margin-top: 0px;
}