.cart{
    height: 500px;
    width: 400px;
    background-color: #EAD5D5;
    border-radius: 40px;
    margin-left: 30px;
    display: flex;
}
.cart-header{
    height: 80px;
    width: 400px;
    background-color: #EAD5D5;
    border-radius: 40px;
    border-bottom: none;
}