/* AboutUs.css */
/* About.css */

  
  .about-us-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity here */
  }
  
.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('../../../assets/1611296.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  /* You can add more styling as needed */
  