.card-map{
    display: flex;
    margin-top: 20px;
    flex: 1;
    margin-left: 10px;
}
.menu-buttons{
    margin-left: 10px;
}
.menu-button{
    height: 30px;
    width: 100px;
    background-color: #69C28C;
    color: #ffffff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    position: relative; /* Add position: relative for the lifting effect */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transition for box-shadow and transform */
  }
  
  .menu-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px); /* Lift up effect */
  }
 
.content-container {
    display: flex;
}
.cart-container{
    padding-left: -100px;
}
