.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Full width */
}

.menu-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap; /* Allow buttons to wrap */
}

.menu-button {
    margin: 5px 10px;
    padding: 10px 20px;
    background-color: #a41e1e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.content-container {
    display: flex;
    justify-content: space-between;
    width: 90%; /* Center the content */
}

.card-map {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 75%; /* Adjusted width */
    max-height: 70vh; /* Max height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    padding-right: 10px; /* Padding for scrollbar */
    box-sizing: border-box; /* Include padding in width */
}

.cart-container {
    width: 25%;
    height: 70vh; /* Fixed height */
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    overflow-y: auto; /* Enable vertical scrolling */
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center cards */
}
